.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.container h1{
    text-align: center;
}

.active{
    text-decoration: line-through;
    color: red;
}

.div{
    display: flex;
    justify-content: space-around;
}